<html ng-app="punterest" ng-csp>
<head>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/app/punterest.css">
</head>
<body>
    <table id="main" ng-controller="mainController">
        <tr ng-repeat="user in users">
            <td><input type="text" ng-model="user.name" ng-change="users.$save(user)"></td>
            <td><input type="number" ng-model="user.points" ng-change="users.$save(user)"></td>
            <td><md-button ng-click="users.$remove(user)">X</md-button></td>
        </tr>
        <tr>
            <td><input type="text" ng-model="newUser" ng-keyup="addUser($event)"></td>
            <td><md-button ng-click="addUser()">Add User</md-button></td>
            <td></td>
        </tr>
    </table>

    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="/app/punterest.js"></script>
</body>
</html>